body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }

.navbar {
    margin-bottom: 0;
    background-color: slateblue;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }

  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  .jumbotron{
      background-image: url(https://img.wallpapersafari.com/desktop/1366/768/17/2/hYiTAc.jpg);
      background-size: cover;
      color: white;
      padding: 200px 25px;

  }

  h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: justify;
  }

  .container-fluid-1 {
      padding: 60px 50px;
      background-color: whitesmoke;
  }

  .container-fluid-2 {
    background-color:white;
    padding: 60px 50px;
    object-fit:cover;
}

  .container-fluid-3 {
    padding: 60px 50px;
    background-color: cornsilk;
    object-fit: cover;
}

  .container-fluid-4 {
    padding: 60px 50px;
    background-image: url(https://media.istockphoto.com/vectors/molecule-structure-abstract-tech-background-medical-design-science-vector-id1076938722?k=20&m=1076938722&s=612x612&w=0&h=M4SLI3Lk9-tFlLFAeSHu3_IB9Og8sQBOPyYbT03tMs0=);
    object-fit: cover;
}


  #myCarousel .carousel-inner {
    height: 360px;
  }

  #myCarousel .carousel-inner >.item  h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 100px 0;
    text-align: center;
    color:black;
  }

  #myCarousel .carousel-inner >.item span {
    font-size: 20px;
    color: black;
    font: weight 900px;
  }

  #myCarousel1 .carousel-inner {
    background-color: none;
    height: 360px;
  }

  #myCarousel1 .carousel-inner > .item  h4 { 
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 100px 0;
    color: black;
    text-align: center;
  }

  #myCarousel1 .carousel-inner >.item span {
    font-size: 20px;
    color: black;
    font: weight 900px;
  }
  
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color:darkblue ;
  }
  .carousel-indicators li {
    border-color: grey;
  }
  .carousel-indicators li.active {
    background-color: grey;
  }

  #selinexor h4 {
    text-align: justify;
    font-style: italic;
  }

  footer {
      background: black;
      height: auto;
      font-family:"Open Sans";
      padding-top: 40px;
      color: white;
  }

  .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }

  .footer-content h3 {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
  }

  .footer-content p {
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
  }

  .social {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
  }

  .footer-content .social li {
      margin: 0 10px;
  }

  .footer-content .social a {
      text-decoration: none;
      color: white;
  }

  .footer-content .social a i {
      font-size: 20px;
      transition: color .4s ease;
      color: white;
  }

  /* .footer-content .social a:hover i {
    color: aqua; }
    */


  .footer-bottom {
      background: black;
      padding: 20px 0;
      text-align: center;
  }

  .footer-bottom p {
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }

  .footer-bottom span {
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .container1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
